<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blasphemous.Modding.Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blasphemous.Modding.Installer.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Blas1ModSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Blas1SkinSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Blas2ModSort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Blas1RootFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Blas2RootFolder" serializeAs="String">
                <value />
            </setting>
        </Blasphemous.Modding.Installer.Properties.Settings>
    </userSettings>
</configuration>