
name: Build

on:
  push:
    tags: [ "**" ]

env:
  TOOL_TITLE: Mod Installer
  TOOL_NAME: BlasModInstaller

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Build Project
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ env.TOOL_TITLE }} v${{ github.ref_name }}

    - name: Upload Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: publish/${{ env.TOOL_NAME }}.zip
        asset_name: ${{ env.TOOL_NAME }}.zip
        asset_content_type: application/zip